__pycache__/
venv/
.idea/
.env

models/__pycache__/

parser/__pycache__/
parser/headers/__pycache__/
my_account.session

tgbot/filters/__pycache__/
tgbot/headers/__pycache__/
tgbot/keyboard/__pycache__/
tgbot/states/__pycache__/
